* {
    border: 2px solid red;
}

header {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

main section {
    display: grid;
    justify-content: center;
    align-items: center;
}